@(account: Option[Entity[Account]], eventID: Int)(implicit webJarAssets: WebJarAssets, messages: Messages)

@scripts = {
    <script type="text/javascript">
        $(window).on('load', function() {
            arbiterJs.SportingEvent().initCharts(@eventID)
        });
    </script>
}


@_template(account, scripts) {
<div class="row">
    <div class="large-8 large-centered columns" id="line-chart-a"></div>
</div>
<div class="row">
    <div class="large-8 large-centered columns" id="line-chart-b"></div>
</div>
}