@(account: Option[Entity[Account]], matrices: List[(String, models.sports.OddsMatrixAB)])(implicit webJarAssets: WebJarAssets, messages: Messages)

@_template(account) {
    <div class="row">
        @for(event <- matrices) {
            <div id=@event._2.eventID>
                @event._1.split(" : ")(0)
            </div>
            <div class="medium-12 columns">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            @for(name <- event._2.bookNames) {
                                <th>@name</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@event._2.akey</td>
                            @for(a <- event._2.allOddsA) {
                                <td>@a</td>
                            }
                        </tr>
                        <tr>
                            <td>@event._2.bkey</td>
                            @for(b <- event._2.allOddsB) {
                                <td>@b</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
}
